In [27]:
from census import Census
from config import (census_key)
from us import states
import pandas as pd

c = Census(census_key, year=2013)

In [28]:
#c.sf1.state_county_tract('NAME', states.TX.fips, '113', Census.ALL)

In [29]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Count"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Count
0,08518,5217.0,41.5,74286.0,33963.0,170.0,3.258578,321.0
1,08520,27468.0,37.4,90293.0,37175.0,1834.0,6.676860,1418.0
2,08525,4782.0,47.1,118656.0,59848.0,43.0,0.899205,138.0
3,08527,54867.0,42.2,88588.0,37021.0,2191.0,3.993293,2910.0
4,08528,245.0,48.5,58676.0,49117.0,0.0,0.000000,0.0

In [30]:
dallasZips = pd.read_csv("../Resources/DallasZipCodes.csv")
dallasZips.head()

         City Population  ZipCode
0     Addison     12,414    75001
1  Carrollton     46,364    75006
2  Carrollton          0    75011
3      Irving          0    75014
4      Irving          0    75015

In [31]:
print(census_pd.dtypes)
print(dallasZips.dtypes)

Zipcode                object
Population            float64
Median Age            float64
Household Income      float64
Per Capita Income     float64
Poverty Count         float64
Poverty Rate          float64
Unemployment Count    float64
dtype: object
City          object
Population    object
ZipCode        int64
dtype: object

In [32]:
census_pd["Zipcode"] = census_pd["Zipcode"].astype(int)
mask = [zipcode in dallasZips.ZipCode.values for zipcode in census_pd.Zipcode]
dallasSub = census_pd[mask]

In [33]:
dallasSub.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Count
25853,75001,13214.0,32.2,57633.0,43919.0,1722.0,13.031633,433.0
25855,75006,47590.0,34.8,56985.0,27010.0,6927.0,14.555579,1996.0
25860,75019,39551.0,37.9,110445.0,48040.0,1624.0,4.106091,985.0
25871,75038,28161.0,30.0,48130.0,28391.0,4581.0,16.267178,1512.0
25872,75039,12197.0,32.2,73503.0,65135.0,819.0,6.714766,264.0

In [34]:
dallasSubMerge = pd.merge(dallasSub,dallasZips[['ZipCode','City']],left_on='Zipcode', right_on='ZipCode', how='inner')
dallasSubMerge = dallasSubMerge.drop(columns=["ZipCode"])
dallasSubMerge

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Count,City
0,75001,13214.0,32.2,57633.0,43919.0,1722.0,13.031633,433.0,Addison
1,75006,47590.0,34.8,56985.0,27010.0,6927.0,14.555579,1996.0,Carrollton
2,75019,39551.0,37.9,110445.0,48040.0,1624.0,4.106091,985.0,Coppell
3,75038,28161.0,30.0,48130.0,28391.0,4581.0,16.267178,1512.0,Irving
4,75039,12197.0,32.2,73503.0,65135.0,819.0,6.714766,264.0,Irving
5,75040,59792.0,32.4,54664.0,20387.0,9346.0,15.630854,3054.0,Garland
6,75041,30684.0,30.9,40136.0,16646.0,6975.0,22.731717,1659.0,Garland
7,75042,40185.0,30.0,39811.0,15085.0,10577.0,26.320766,2490.0,Garland
8,75043,58120.0,34.0,55149.0,24046.0,6512.0,11.204405,3233.0,Garland
9,75044,41578.0,38.9,64302.0,30021.0,3740.0,8.995142,2026.0,Garland
10,75048,20930.0,37.3,87171.0,34473.0,1081.0,5.164835,697.0,Sachse
11,75050,40652.0,31.0,44548.0,21322.0,7835.0,19.273344,1681.0,Grand Prairie
12,75051,41345.0,29.4,40107.0,16077.0,9865.0,23.860201,2442.0,Grand Prairie
13,75052,89743.0,32.3,66744.0,24938.0,9405.0,10.479926,4377.0,Grand Prairie
14,75054,6256.0,33.3,105000.0,34934.0,483.0,7.720588,211.0,Grand Prairie
15,75060,46409.0,32.6,45775.0,18383.0,8982.0,19.354005,3033.0,Irving
16,75061,53233.0,30.6,40084.0,17739.0,11404.0,21.422802,2247.0,Irving
17,75062,46200.0,32.3,45872.0,22822.0,7305.0,15.811688,1981.0,Irving
18,75063,36425.0,32.9,69114.0,42679.0,2575.0,7.069321,1514.0,Irving
19,75080,45616.0,33.0,60440.0,30713.0,8006.0,17.550859,2023.0,Richardson
20,75081,34286.0,38.1,63470.0,30789.0,3108.0,9.064924,1902.0,Richardson
21,75082,21670.0,40.7,111726.0,49169.0,731.0,3.373327,524.0,Richardson
22,75088,26237.0,39.2,81425.0,31831.0,1188.0,4.527957,1208.0,Rowlett
23,75089,29640.0,36.0,86134.0,30587.0,1593.0,5.374494,1103.0,Rowlett
24,75104,45935.0,34.1,67691.0,29045.0,3977.0,8.657886,2172.0,Cedar Hill
25,75115,49839.0,39.6,61729.0,28055.0,4446.0,8.920725,2583.0,Desoto
26,75116,20135.0,31.3,53706.0,20590.0,2940.0,14.601440,827.0,Duncanville
27,75134,19910.0,32.7,46971.0,18451.0,4012.0,20.150678,1490.0,Lancaster
28,75137,18865.0,39.1,58895.0,27187.0,1952.0,10.347204,794.0,Duncanville
29,75141,5347.0,30.5,34786.0,14239.0,1042.0,19.487563,237.0,Hutchins
...,...,...,...,...,...,...,...,...,...
56,75220,43762.0,29.2,35827.0,23834.0,11665.0,26.655546,2522.0,Dallas
57,75223,12583.0,33.0,35949.0,19763.0,3036.0,24.127791,770.0,Dallas
58,75224,34640.0,28.1,33830.0,14099.0,10554.0,30.467667,1737.0,Dallas
59,75225,20770.0,45.2,147153.0,91866.0,594.0,2.859894,470.0,Dallas
60,75226,3265.0,34.7,42768.0,29938.0,978.0,29.954058,206.0,Dallas
61,75227,56594.0,28.4,37720.0,14533.0,14098.0,24.910768,3063.0,Dallas
62,75228,70699.0,31.0,36274.0,17352.0,20024.0,28.322890,4557.0,Dallas
63,75229,33371.0,35.8,70625.0,41589.0,4392.0,13.161128,1587.0,Dallas
64,75230,27027.0,44.4,68863.0,66372.0,2983.0,11.037111,1002.0,Dallas
65,75231,34227.0,30.1,33546.0,25995.0,11136.0,32.535717,1054.0,Dallas
66,75232,27317.0,38.7,36265.0,17770.0,6796.0,24.878281,1512.0,Dallas
67,75233,14431.0,31.0,40151.0,17569.0,3641.0,25.230407,740.0,Dallas
68,75234,29180.0,36.4,53305.0,25170.0,4616.0,15.819054,1577.0,Dallas
69,75235,18864.0,30.1,37530.0,18088.0,6624.0,35.114504,886.0,Dallas
70,75236,15264.0,29.1,37645.0,18799.0,3294.0,21.580189,884.0,Dallas
71,75237,17203.0,27.7,29787.0,15511.0,4722.0,27.448701,1088.0,Dallas
72,75238,30594.0,33.5,52779.0,32708.0,4433.0,14.489769,774.0,Dallas
73,75240,27050.0,29.6,37095.0,22451.0,8506.0,31.445471,1565.0,Dallas
74,75241,29586.0,35.2,30870.0,14910.0,8235.0,27.834111,1527.0,Dallas
75,75243,56910.0,31.3,35944.0,23774.0,14772.0,25.956774,2278.0,Dallas
76,75244,13170.0,40.3,72735.0,44587.0,1217.0,9.240699,358.0,Dallas
77,75246,2604.0,32.8,32254.0,26841.0,812.0,31.182796,108.0,Dallas
78,75247,546.0,56.5,23793.0,12170.0,290.0,53.113553,96.0,Dallas
79,75248,34902.0,41.2,72111.0,47620.0,2659.0,7.618475,1664.0,Dallas
80,75249,14172.0,31.0,57247.0,21416.0,1897.0,13.385549,570.0,Dallas
81,75251,2945.0,30.2,56788.0,39589.0,356.0,12.088285,29.0,Dallas
82,75253,18370.0,28.2,33283.0,13067.0,4740.0,25.802940,578.0,Dallas
83,75254,24138.0,30.7,44283.0,34646.0,4090.0,16.944237,1346.0,Dallas
84,75270,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,NaN,0.0,Dallas
85,75390,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,NaN,0.0,Dallas

In [67]:
#drop NaN values
DroppedData = dallasSubMerge.dropna(how="any")


DroppedData.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Count
count,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000
mean,75163.107143,29725.595238,33.839286,54701.773810,29463.619048,5495.119048,18.569866,1385.226190
std,78.922567,19023.184205,4.844995,23213.807165,17053.465643,5054.688351,10.885028,1051.667149
min,75001.000000,546.000000,27.200000,15258.000000,9484.000000,120.000000,1.255099,29.000000
25%,75081.750000,15463.500000,30.850000,37421.250000,17514.750000,1823.250000,10.446745,576.000000
50%,75204.500000,26806.500000,32.700000,50161.000000,24275.000000,4051.000000,16.043116,1114.500000
75%,75228.250000,40825.250000,36.100000,67763.000000,35511.250000,7877.750000,26.047772,1984.750000
max,75254.000000,89743.000000,56.500000,147153.000000,91866.000000,26920.000000,53.113553,4848.000000

In [22]:
dallasSubMerge.to_csv("../Resources/DallasCensusData.csv", index=False)